<style>
    .pub-link {
        color: #98A8F8;
    }
    
    .view-all-link {
        color: #98A8F8;
    }
    
    .custom-radius {
        border-radius: 15px;
    }
    </style>
    

 
<div class="my-3 p-0 bg-white shadow-sm custom-radius">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Research Overview</h5>
        </div>
        <p class="card-text">
            My research focuses on <strong>3D Vision</strong> and <strong>Physics-Informed Computer Vision</strong>. I work on 3D reconstruction and 4D generation for the visual modeling of the physical world, and on learning 3D or video models that integrate physics knowledge and numerical simulation.
        </p>
        <!-- <div class="text-center mt-4">
            <img src="{{ '/assets/images/overview.png' | relative_url }}" alt="Research Overview" class="img-fluid">
        </div> -->
    </div>
</div>
 