<style>
    .pub-link {
        color: #98A8F8;
    }
    
    .view-all-link {
        color: #98A8F8;
    }
    
    .custom-radius {
        border-radius: 15px;
    }
    </style>
    

 
<div class="my-3 p-0 bg-white shadow-sm custom-radius">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Research Overview</h5>
        </div>
        <p class="card-text mb-2">My research interests include:</p>
        <ul class="card-text mb-0">
            <li><strong>3D Vision</strong>: 3D reconstruction and 4D generation, visual generation of 4D physical world.</li>
            <li><strong>Physics-Informed Computer Vision</strong>: Learning 3D or video models integrated with physics knowledge and numerical simulation.</li>
        </ul>
        <!-- <div class="text-center mt-4">
            <img src="{{ '/assets/images/overview.png' | relative_url }}" alt="Research Overview" class="img-fluid">
        </div> -->
    </div>
</div>
 